@{
    ViewData["Title"] = "Email Verification";
}

<div class="container">
    <h2>Verification Request</h2>

    <p>A request to acquire the approval of [REDACTED].</p>

    <form asp-action="Verify" method="post">
        <div class="form-group">
            <label for="verificationReason">Request Reason</label>
            <input type="text" class="form-control" id="verificationReason" minlength="20" maxlength="255" name="reason" required>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>